<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Online Patrol System</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- Required meta tags -->
    <%- include('./partials/head.ejs') %>
    <script>
      $(document).ready(function(){
       
        var rowCount = $('#vcheckpoints >tbody >tr').length;
        if(rowCount==1)
        {
          $('#del_g').prop('disabled', true);
        }

        $(document).on('click', '#add_c', function(){
        var html = '';

        html +='<tr><td style="width:65%"><select name="checkpoint_id[]" class="js-example-basic-single" style="width:98%">';
        html +='<%  checkpoints.forEach(function(checkpoint){ %><option value="<%= checkpoint.checkpoint_id %>"><%= checkpoint.checkpoint_name %></option><% }) %></select></td>';
        html +='<td style="width:25%"><input type="time"  name="expected_clock_time[]" style="width:90%" required ></td>';
        html +='<td><button type="button" id="del_g" class="btn btn-danger btn-fw" style="width: 10%; float:right;">Delete</button> </td></tr>';       
        $('#vcheckpoints').append(html);
        $('#del_g').prop('disabled', false);
        });
       
        $(document).on('click', '#del_g', function(){
        $(this).closest('tr').remove();
        var rowCount = $('#vcheckpoints >tbody >tr').length;
        if(rowCount==1)
        {
          $('#del_g').prop('disabled', true);
        }

        });       
      });
    </script>
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <%- include('./partials/navigation.ejs') %>
      </nav>
        
      <div class="main-panel">
        <div class="content-wrapper">

          <div class="row">
            <div class="col-12 grid-margin stretch-card">
              <div class="card corona-gradient-card">
                <div class="card-body py-0 px-0 px-sm-3">
                  <div class="row align-items-center">
                    <div class="col-4 col-sm-3 col-xl-2">
                      <img src="/images/dashboard/Group126@2x.png" class="gradient-corona-img img-fluid" alt="">
                    </div>
                    <div class="col-5 col-sm-7 col-xl-8 p-0">
                      <h3 class="mb-1 mb-sm-0" style="text-align: center;">Modify Patrol Configuration</h3>
                      <p class="mb-0 font-weight-normal d-none d-sm-block" style="text-align: center;">
                        <i>Enter Patrol Parameters</i>
                      </p>
                    </div>
                    <div class="col-3 col-sm-2 col-xl-2 pl-0 text-center">                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> 
          <%- include ('./partials/messages'); %>
          <br/><br/>

          <div class="row">

              <div class="col-lg-8 mx-auto">
                <div class="card">
                  <div class="card-body">
                   
                    <form action="/supervisor/pupdate2" method="POST" enctype="application/x-www-form-urlencoded">
                         
                      <input type="hidden" name="patrol_id"  value="<%= patrol.patrol_id %>">                      
                      <div class="form-group">
                        <label for="election_title">Patrol Name</label>
                        <input type="text" class="form-control" value="<%= patrol.patrol_name %>" name="patrol_name" id="patrol_name" placeholder="" required>
                      </div>
                      
                      <div class="form-group">
                        <label for="election_title">Patrol Description</label>
                        <input type="text" class="form-control" value="<%= patrol.Patrol_description %>" name="Patrol_description" id="Patrol_description" placeholder="" required>
                      </div>

                      <div class="form-group">
                        <label for="election_title">Checkpoint Threshod</label>
                        <input type="text" class="form-control" value="<%= patrol.checkpoint_threshod %>" name="checkpoint_threshod" id="checkpoint_threshod" placeholder="" required>
                      </div>

                      <div class="form-group">
                        <label>Checkpoint And Expected Clock Time  </label>
                        <button type="button" id="add_c" class="btn btn-primary btn-fw" style="width: 8%; float:right;">Add</button>
                        <br/><br/>

                        <table border="0"style="width:100%" id="vcheckpoints">       
                          <%  
                          patrol.patrol_param.forEach(function(par){ 
                          %>   
                            <tr>  
                              <td style="width:65%">      
                                <select name="checkpoint_id[]" class="js-example-basic-single" style="width:98%">
                                  <%  
                                  checkpoints.forEach(function(checkpoint){ 
                                    if(checkpoint.checkpoint_id==par.checkpoint_id) { 
                                  %>
                                      <option selected="selected" value="<%= checkpoint.checkpoint_id %>"><%= checkpoint.checkpoint_name %></option>
                                  <%
                                    } else {
                                  %>
                                      <option  value="<%= checkpoint.checkpoint_id %>"><%= checkpoint.checkpoint_name %></option>
                                  <%
                                    }                              
                                  }); 
                                  %>
                                </select>
                              </td>

                              <td style="width:25%"> 
                                <input type="time"  name="expected_clock_time[]" value="<%= par.expected_clock_time %>" style="width:90%" required >
                              </td>

                              <td>
                                <button type="button" id="del_g" class="btn btn-danger btn-fw" style="width: 10%; float:right;">Delete</button>
                              </td>                         
                            </tr>                         
                          <%  
                          }); 
                          %>
                        </table>
                      </div>                 

                      <button type="submit" class="btn btn-primary mr-2">Confirm</button>
                      <button class="btn btn-dark">
                        <a href="/supervisor/pmanage/0"> Cancel </a>
                      </button>
                    </form>

                  </div>
                </div>
              </div>
          <!-- partial(row) ends -->
          </div>
        <!-- Content-Wrapper ends -->
        </div>

        <footer class="footer">
          <%- include('./partials/footer.ejs') %>
        </footer>
      <!-- main-panel ends -->
      </div>    
    <!-- container-scroller ends-->
    </div>
    
    <!-- plugins:js -->
    <script src="/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="/vendors/select2/select2.min.js"></script>
    <script src="/vendors/typeahead.js/typeahead.bundle.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/js/off-canvas.js"></script>
    <script src="/js/hoverable-collapse.js"></script>
    <script src="/js/misc.js"></script>
    <script src="/js/settings.js"></script>
    <script src="/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="/js/file-upload.js"></script>
    <script src="/js/typeahead.js"></script>
    <script src="/js/select2.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>